@using TestSite.Core.Models
@model IEnumerable<Player>

@{
    ViewData["Title"] = "Players Stats";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Player" asp-action="Stats">
    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Username</th>
            <th>Xp</th>
            <th>Health</th>
        </thead>
        <tbody>
            @foreach (Player player in Model) {
                <tr>
                    <td>@player.Id</td>
                    <td>@player.Username</td>
                    <td>@player.Xp</td>
                    <td>@player.Health</td>
                </tr>
            }
        </tbody>
    </table>
</form>